<nav>
  <div class="nav-container">
    <div class="nav-logo">
      <img src="/assets/images/ng-logo.png" alt="">
    </div>
    <div class="nav-tabs">
      <ul>
        <li class="btn nav-item li-meetup" [routerLink]="'.'" [fragment]="'meetup'"><span></span><a  >Meetup</a></li>
        <li class="btn nav-item li-seminars" [routerLink]="'.'" [fragment]="'seminars'"><span></span><a  >Seminars</a></li>
        <li class="btn nav-item li-careers" [routerLink]="'.'" [fragment]="'careers'"><span></span><a  >Careers</a></li>
        <li class="btn nav-item li-team" [routerLink]="'.'" [fragment]="'team'"><span></span><a  >Our Team</a></li>
        <li class="btn nav-item li-contact" [routerLink]="'.'" [fragment]="'contact'"><span></span><a  >Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
