<img class="sun" src="/assets/images/sun.png" alt="">
<img class="star star1" src="/assets/images/star.png" alt="">
<img class="star star2" src="/assets/images/star.png" alt="">
<img class="star star3" src="/assets/images/star.png" alt="">
<div class="box">
<div class="tleft old-color"></div>
<div class="tright old-color"></div>
<div class="tmid old-color"></div>
<div class="tbot old-color"></div>
</div>

<div class="box-2">
  <div class="tleft new-color"></div>
  <div class="tright new-color"></div>
  <div class="tmid new-color"></div>
  <div class="tbot new-color"></div>
</div>

